AlertaQuedaNodeRed.txt
[{"id":"b3daf955.8dace8","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"62dc475a.670ee8","type":"rpi-srf","z":"b3daf955.8dace8","name":"SFR : check-in_check-out","topic":"checkin","pulse":"0.15","pins":"16,18","x":110,"y":160,"wires":[["ef9f2ea9.4732c"]]},{"id":"da808a4c.b954e8","type":"rpi-srf","z":"b3daf955.8dace8","name":"SRF : Cintura","topic":"cintura","pulse":"0.5","pins":"11,13","x":75,"y":320,"wires":[["3b59c3a3.28417c","3033ef78.d49c8"]]},{"id":"82f1a0d8.69f1","type":"mqtt out","z":"b3daf955.8dace8","name":"","topic":"Checkin","qos":"","retain":"","broker":"b15b16cf.c028b8","x":680,"y":120,"wires":[]},{"id":"209d3452.f61c5c","type":"mqtt in","z":"b3daf955.8dace8","name":"","topic":"Checkin","qos":"2","broker":"b15b16cf.c028b8","x":830,"y":120,"wires":[["dcc42de1.2ab3c"]]},{"id":"e10aa029.7e117","type":"mqtt out","z":"b3daf955.8dace8","name":"","topic":"Sensor/Cintura","qos":"","retain":"","broker":"b15b16cf.c028b8","x":640,"y":320,"wires":[]},{"id":"89574c61.53cf9","type":"mqtt in","z":"b3daf955.8dace8","name":"","topic":"Sensor/Cintura","qos":"2","broker":"b15b16cf.c028b8","x":820,"y":320,"wires":[["5a9a29eb.9612a8"]]},{"id":"7f4af874.6b9448","type":"inject","z":"b3daf955.8dace8","name":"Timestamp","topic":"time","payload":"","payloadType":"date","repeat":"0.3","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":60,"wires":[["ef9f2ea9.4732c"]]},{"id":"1a045347.8a47bd","type":"debug","z":"b3daf955.8dace8","name":"Debugger","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":460,"y":60,"wires":[]},{"id":"ef9f2ea9.4732c","type":"function","z":"b3daf955.8dace8","name":"Merge","func":"context.data = context.data || {};\n\nswitch (msg.topic) {\n    case \"time\":\n        context.data.time = msg.payload;\n        msg = null;\n        break;\n    case \"checkin\":\n        context.data.checkin = msg.payload;\n        msg = null;\n        break;\n        \n    default:\n        msg = null;\n    \tbreak;\n\n}\n\nif(context.data.time != null && context.data.checkin != null ) {\n\tmsg2 = {};\n\tmsg2.topic = \"CHECK\"\n    msg2.payload = context.data.time+\" \"+context.data.checkin;\n    \n    context.data=null;\n\treturn msg2;\n} ","outputs":1,"noerr":0,"x":310,"y":100,"wires":[["1a045347.8a47bd","249b8000.adfe2"]]},{"id":"bcf62bf0.b95038","type":"debug","z":"b3daf955.8dace8","name":"Debugger","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":460,"y":240,"wires":[]},{"id":"3b59c3a3.28417c","type":"function","z":"b3daf955.8dace8","name":"Merge","func":"context.data = context.data || {};\n\nswitch (msg.topic) {\n    case \"time\":\n        context.data.time = msg.payload;\n        msg = null;\n        break;\n    case \"cintura\":\n        context.data.cintura = msg.payload;\n        msg = null;\n        break;\n        \n    default:\n        msg = null;\n    \tbreak;\n\n}\n\nif(context.data.time != null && context.data.cintura != null ) {\n\tmsg2 = {};\n\tmsg2.topic = \"CINTURA\"\n    msg2.payload = context.data.time+\" \"+context.data.cintura;\n    \n    context.data=null;\n\treturn msg2;\n} ","outputs":1,"noerr":0,"x":290,"y":280,"wires":[["bcf62bf0.b95038","a803bac2.8e7608"]]},{"id":"8cb1115.9a48af","type":"inject","z":"b3daf955.8dace8","name":"Timestamp","topic":"time","payload":"","payloadType":"date","repeat":"0.3","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":240,"wires":[["3b59c3a3.28417c"]]},{"id":"6c9104df.4a036c","type":"inject","z":"b3daf955.8dace8","name":"Tick every 5 secs","topic":"test","payload":"","payloadType":"date","repeat":"5","crontab":"","once":false,"x":1470,"y":660,"wires":[["250d5ca9.10db44"]]},{"id":"5a9a29eb.9612a8","type":"websocket out","z":"b3daf955.8dace8","name":"","server":"bec88e9b.d6886","client":"","x":1300,"y":500,"wires":[]},{"id":"e537fde6.ca8c3","type":"http response","z":"b3daf955.8dace8","name":"","statusCode":"","headers":{},"x":1681,"y":420,"wires":[]},{"id":"e2be0362.19fa2","type":"http in","z":"b3daf955.8dace8","name":"","url":"/simple","method":"get","upload":false,"swaggerDoc":"","x":1312,"y":420,"wires":[["b600ae2f.31394"]]},{"id":"b600ae2f.31394","type":"template","z":"b3daf955.8dace8","name":"Simple Web Page","field":"payload","fieldType":"msg","format":"html","syntax":"mustache","template":"<!DOCTYPE HTML>\n<html>\n    <head>\n    <title>Simple Live Display</title>\n    <script type=\"text/javascript\">\n        var ws;\n        var wsUri = \"ws:\";\n        var wsUri2 = \"ws:\";\n        var loc = window.location;\n        var entrada = [false,true];\n        \n        var EntrouNoBanheiro= false;\n        var modaCintura = 170;\n        var modaCheck = 170; \n        console.log(loc);\n        if (loc.protocol === \"https:\") { wsUri = \"wss:\"; }\n        if (loc.protocol === \"https:\") { wsUri2 = \"wss:\"; }\n        // This needs to point to the web socket in the Node-RED flow\n        // ... in this case it's ws/simple\n        wsUri += \"//\" + loc.host + loc.pathname.replace(\"simple\",\"ws/cintura\");\n        wsUri2 += \"//\" + loc.host + loc.pathname.replace(\"simple\",\"ws/checkin\");\n        \n        function moda (arr) {\n            return ((arr.sort((a, b) =>\n                (arr.filter(v => v === a).length) - (arr.filter(v => v === b).length))\n            ).pop())\n        }\n\n        function mapValor (arr) {\n            return arr.map((iten) => iten.split(\" \")[1])\n        }\n\n        function checaEntrada (moda) {\n            // envento que passou pelo sensor\n            if (moda < 170 && modaCheck > 170){\n                console.log('passei pelo sensor');\n                entrada[0] = true;\n              //  EntrouNoBanheiro = !EntrouNoBanheiro;\n               // console.log(EntrouNoBanheiro);\n            }\n            \n        }\n\n        \n        function checaCintura (moda) {\n            // envento que passou pelo sensor\n            if (moda < 170  && entrada[0]){\n                console.log('em pé');\n                entrada[1] = true;\n              //  EntrouNoBanheiro = !EntrouNoBanheiro;\n               // console.log(EntrouNoBanheiro);\n            }\n            else if (entrada[0]){\n                console.log('caiu')\n                entrada[1] = false;\n            }else {\n                entrada[1] = true;\n            }\n            \n        }\n\n        function labelEntrou () {\n            \n            \n            \n            if(entrada[0]) {\n                return \"dentro\"\n            }\n            return \"\"\n        }\n\n        function labelVivo (){\n            if (entrada[0] && !entrada[1]){\n                return \"caiu\"\n            }\n            return \"\"\n        }\n\n\n        function wsConnect() {\n            console.log(\"connect\",wsUri);\n            ws = new WebSocket(wsUri);\n            //var line = \"\";    // either uncomment this for a building list of messages\n            ws.onmessage = function(msg) {\n                //console.log(JSON.parse(msg.data));\n                var line = \"\";  // or uncomment this to overwrite the existing message\n                // parse the incoming message as a JSON object\n                var data = msg.data;\n                //console.log(data);\n                newModa = moda(mapValor(JSON.parse(msg.data)));\n                entrou = checaCintura(newModa);\n\n                document.getElementById('vivo').innerHTML = \"<p>\"+labelVivo()+\"</p>\"\n\n                modaCintura = newModa\n                // build the output from the topic and payload parts of the object\n                line += \"<p>cintura \"+modaCintura+\"</p>\";\n                // replace the cintura div with the new \"line\"\n                document.getElementById('cintura').innerHTML = line;\n                //ws.send(JSON.stringify({data:data}));\n            }\n            ws.onopen = function() {\n                // update the status div with the connection status\n                document.getElementById('status').innerHTML = \"connected\";\n                //ws.send(\"Open for data\");\n                console.log(\"connected\");\n            }\n            ws.onclose = function() {\n                // update the status div with the connection status\n                document.getElementById('status').innerHTML = \"not connected\";\n                // in case of lost connection tries to reconnect every 3 secs\n                setTimeout(wsConnect,3000);\n            }\n\n            ws2 = new WebSocket(wsUri2);\n            //var line = \"\";    // either uncomment this for a building list of messages\n            ws2.onmessage = function(msg) {\n                //console.log(JSON.parse(msg.data));\n                var line = \"\";  // or uncomment this to overwrite the existing message\n                // parse the incoming message as a JSON object\n                var data = msg.data;\n                newModaCheck = moda(mapValor(JSON.parse(data)));\n                entrou = checaEntrada(newModaCheck);\n\n                document.getElementById('entrou').innerHTML = \"<p>\"+labelEntrou()+\"</p>\";\n\n                modaCheck = newModaCheck;\n                //console.log(data);\n                // build the output from the topic and payload parts of the object\n                line += \"<p>check \"+modaCheck+\"</p>\";\n                // replace the cintura div with the new \"line\"\n                document.getElementById('check').innerHTML = line;\n                //ws.send(JSON.stringify({data:data}));\n            }\n            ws2.onopen = function() {\n                // update the status div with the connection status\n                document.getElementById('status').innerHTML = \"connected\";\n                //ws.send(\"Open for data\");\n                console.log(\"connected\");\n            }\n            ws2.onclose = function() {\n                // update the status div with the connection status\n                document.getElementById('status').innerHTML = \"not connected\";\n                // in case of lost connection tries to reconnect every 3 secs\n                setTimeout(wsConnect,3000);\n            }\n\n\n        }\n        \n        function doit(m) {\n            if (ws) { ws.send(m); }\n            if (ws2) { ws.send(m); }\n        }\n    </script>\n    </head>\n    <body onload=\"wsConnect();\" onunload=\"ws.disconnect();\">\n        <font face=\"Arial\">\n        <h1>Alerta queda</h1>\n        <div id=\"cintura\"></div>\n        <div id=\"check\"></div>\n        <div id=\"entrou\"></div>\n        <div id=\"vivo\"></div>\n        <hr/>\n        <div id=\"status\">unknown</div>\n        </font>\n    </body>\n</html>\n","x":1530,"y":420,"wires":[["e537fde6.ca8c3"]]},{"id":"250d5ca9.10db44","type":"function","z":"b3daf955.8dace8","name":"format time nicely","func":"msg.payload = Date(msg.payload).toString();\nreturn msg;","outputs":1,"noerr":0,"x":1658,"y":660,"wires":[[]]},{"id":"56456fac.0808","type":"websocket in","z":"b3daf955.8dace8","name":"","server":"bec88e9b.d6886","client":"","x":1300,"y":580,"wires":[["436d0219.5e364c"]]},{"id":"436d0219.5e364c","type":"debug","z":"b3daf955.8dace8","name":"","active":true,"console":"false","complete":"false","x":1490,"y":580,"wires":[]},{"id":"dcc42de1.2ab3c","type":"websocket out","z":"b3daf955.8dace8","name":"","server":"143cb2d9.b7e82d","client":"","x":1240,"y":260,"wires":[]},{"id":"e66cbfe7.815a7","type":"websocket in","z":"b3daf955.8dace8","name":"","server":"143cb2d9.b7e82d","client":"","x":1240,"y":340,"wires":[["96d09e17.4d716"]]},{"id":"96d09e17.4d716","type":"debug","z":"b3daf955.8dace8","name":"","active":true,"console":"false","complete":"false","x":1470,"y":300,"wires":[]},{"id":"a803bac2.8e7608","type":"buffer-array","z":"b3daf955.8dace8","name":"","bufferLen":"5","startWhenFilled":true,"x":450,"y":320,"wires":[["e10aa029.7e117"]]},{"id":"249b8000.adfe2","type":"buffer-array","z":"b3daf955.8dace8","name":"","bufferLen":"5","startWhenFilled":true,"x":480,"y":120,"wires":[["82f1a0d8.69f1"]]},{"id":"3033ef78.d49c8","type":"function","z":"b3daf955.8dace8","name":"Positivo","func":"valor = parseInt(msg.payload)\nif (msg.payload < 100){\n    msg.payload = \"Positivo\"\n}\nelse {\n    msg.payload = \"False\"\n}\nreturn msg;","outputs":1,"noerr":0,"x":280,"y":380,"wires":[["c8dd4c2a.d38"]]},{"id":"c8dd4c2a.d38","type":"debug","z":"b3daf955.8dace8","name":"Falsos Positivos","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":500,"y":420,"wires":[]},{"id":"ba43a46a.aca748","type":"comment","z":"b3daf955.8dace8","name":"Erros ","info":"Esse fluxo mostra que muitas vezes o sensor tem falhas\ne lança um valor arbritario no debugger. Para remover esse\nproblema utilizamos um array aliado a uma moda.","x":270,"y":420,"wires":[]},{"id":"b15b16cf.c028b8","type":"mqtt-broker","z":"","name":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"bec88e9b.d6886","type":"websocket-listener","z":"","path":"ws/cintura","wholemsg":"false"},{"id":"143cb2d9.b7e82d","type":"websocket-listener","z":"","path":"ws/checkin","wholemsg":"false"}]